 <!doctype html>
{% load static %}
<html lang="en">
  <head> 
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/stylenew.css'  %}" />

    <title>login</title>
  </head>
  <body> 
    <div class="header">
      <div class="header-profile">
          <p>Vibgyor Advisors</p>
      </div>
  </div>
  <div class="content">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="form-block">
                  <div class="mb-4 ">
                      <h1>Login </h1>
                  </div>
                  <div class="form-group last mb-4">
                      <div><button class="btn btn-pill text-white btn-block btn-primary"><a href="{% url 'login_view' %}">login</a></button></div>
                  </div>
                  <div class="form-group last mb-4">
                      <div><button class="btn btn-pill text-white btn-block btn-primary"><a href="{% url 'register' %}">Sign Up</a></button></div>
                  </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
        <span>&copy; 2024 Vibgyor Advisors Pvt. Ltd. | <a href="#">www.vibgyoradvisors.com</a></span>
    </div>
</footer>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>